%img.img-circle{:src => "/images/odin.png", :width => "200"}

%h1
  The Odin Project
%p
  Connect and learn with the community of people learning to code.

%br
%br

%h3
  Why?
%ul
  %li
    Crying is best done alone, learning to code is not.
  %li
    Become a great web developer by connecting with people who can help.

%br
%br

= link_to "Connect me", survey_path, :class => "btn btn-primary"
